{% extends 'base.html.twig' %}

{#********* Autor: Marta Brzozowska **********#}

{% block title %}Create an account!{% endblock %}

{% block body %}

    <div class="text-center">
        <br>
        <h5>Your account was succesfully created :) <br><br>
        Welcome to Web_Library !</h5>
        <br><br><br>
        <h3>Log in <a  href="{{ path('app_login') }}">here</a>

        </h3>
    </div>

{% endblock %}
