{#********* Autor: Aleksandra Bodziacka **********#}


{% extends 'base.html.twig' %}
{% block title%} Contact {% endblock %}
{% block body %}

        <div class="jumbotron-img jumbotron jumbotron-fluid text-center">
            <div class="contact container">
                <h1 class="display-4">{{ text }}</h1>
                <p class="lead ">ul. Nowoursynowska 161 <br />
                    02-787 Warszawa<br />
                    Tel: 123 456 789</p>
                <strong>E-mail:</strong>   <a href="mailto:olabodziacka@op.pl">Support@web_library.com</a><br />
            </div>
        </div>

{% endblock %}